html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Rubik, Arial;
    margin: 0;
    padding: 0;
    color: white;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100vw;
    font-size: 110%;
    height: 10vh;
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-weight: 600;
}

li{
    display: flex;
    padding: 20px;
}

a{
    text-decoration: none;
    color: white;
    transition: all 0.175s;
}

a:hover{
    color: rgb(77, 153, 1);
}

.listaHeader{
    margin-right: 1%;
}

.logoBruno{
    margin-left: 5%;
}

.home{
    background-image: url(../imgs/backgroundHome.jpg);
    background-size: 100%;
    width: 100vw;
    height: 100vh;
}

.sobre{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,50,13,255);
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.mainHome{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    font-size: 30px;
}

#textNameHome{
    background-color: rgba(230, 225, 225, 0.9);
    padding: 0.75%;
    border-radius: 300px;
    margin-left: 0.25vw;
    color: rgb(22, 24, 22);
}

#textRecepHome{
    margin-right: 0.25vw;
}

.logoBruno img{
    width: 55px;
    height: 55px;
    border-radius: 50px;
}

.setaInteira{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}